bash
librt
libpthread
coreutils
coreutils-stdbuf
screen
jq
ip-full
kmod-tun
openssh-client
shadowsocks-libev-ss-local
dnsmasq-full
https-dns-proxy
php7
php7-cgi
php7-mod-json
php7-mod-session
python3
stunnel
